

.container {

width: 500px;
}
.textContent {
    font-size: 14px;
    font-weight: bold;
    color: gray;
    // width: 500px;
}

.imageItem {
    // width: 10px;
    height: 26px;
    justify-content: space-between;
}
