
.footerContainer {
    // width: 1220px;
    margin: 20px;

}

.footerParaText {
    margin: 20px 0px 20px 0px;
    font-size: 12px;
    width: 1220px;
    align-self: center;
}
.footerLogoContainer{
    width: 1220px;
    align-self: center;
    background-color: #fafafa;
    margin: 20px;
}