

.container {
    text-align: start;
}

.placeOrderText {
    font-size: 20px;
    font-weight: bolder;
}

.deliveryItems {
    padding: 10px;
}

.deliveryText {
    font-size: 15px;
    font-weight: bold;
    padding: 0px;
}

.quantity {
    color: gray;
    padding: 0px;
}