
.btnContainer {
    background-color: green;
    border: none;
    border-radius: 10px;
    height: 50px;
    padding: 0px 10px 0px 10px;
}

.shopIcon {
    color: white;
    font-size: 30px;
}

.cartText {
    font-weight: bold;
    color: white;
    font-size: 15px;
}