

.headerVerticalContainer {
    // position: fixed;
    position: fixed;
    width: -webkit-fill-available;
    background-color: white;
    margin-bottom: 20px;
}

.navLogo {
    font-size: 20px;
}

.navLogin {
    font-size: 20px;
}

.navCartBtn {
    
}