


.items {
    justify-content: space-between;
}

.grandTotal, .totalPrice {
    font-weight: 900;
}

.couponText {
    text-align: start;
    font-size: 12px;
    color: rgb(118, 115, 115);
    font-weight: 500;
}