

.container {
}

.items {
    width: 100%;
    justify-content: space-between;
}

.mrpText, .deliveryText, .discountText {
    align-self: flex-start;
    color: rgb(102, 98, 98);
}

.mrpValue {
    color: rgb(102, 98, 98);
    align-self: flex-end;

}

.deliveryCharge, .discount {
    color: green;
    align-self: flex-end;
}

